<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="TestNgFramework.ExtentReporterNG"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/nagesh/Documents/TestNgRestAutomationTestFramework">
        <classes>
            <class name="TestNgFramework.Test1"></class>
            <class name="TestNgFramework.Test2"></class>
            <class name="TestNgFramework.ParameterizedTest"></class>

        </classes>
    </test>
</suite>